body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: grey;
  font-size: 20px;
}
h1 {
  font-size: 25px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 100px auto;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #000;
}
input:focus-visible {
  outline: none;
}

.buttons button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
  font-weight: 700;
}

#resultado {
  margin: 10px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.operador {
  transition: transform 0.2s ease-in-out;
}

.operador:hover {
  transform: scale(1.1);
}
